<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.BackKitchenOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.BackKitchenOrder">
        <id column="back_kitchen_order_id" property="backKitchenOrderId" />
        <result column="customer_order_id" property="customerOrderId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        back_kitchen_order_id, customer_order_id, create_time
    </sql>

</mapper>
