<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.CustomerOrderCuisineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.CustomerOrderCuisine">
        <result column="customer_order_id" property="customerOrderId" />
        <result column="cuisine_id" property="cuisineId" />
        <result column="num" property="num" />
        <result column="cuisine_order" property="cuisineOrder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        customer_order_id, cuisine_id, num, cuisine_order
    </sql>

</mapper>
