<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.DiscountCouponCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.DiscountCouponCustomer">
        <id column="discount_coupon_customer_id" property="discountCouponCustomerId" />
        <result column="customer_id" property="customerId" />
        <result column="staff_id" property="staffId" />
        <result column="discount_coupon_id" property="discountCouponId" />
        <result column="get_time" property="getTime" />
        <result column="use_time" property="useTime" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        discount_coupon_customer_id, customer_id, staff_id, discount_coupon_id, get_time, use_time, state
    </sql>

</mapper>
