<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.CuisineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.Cuisine">
        <id column="cuisine_id" property="cuisineId" />
        <result column="name" property="name" />
        <result column="num" property="num" />
        <result column="price" property="price" />
        <result column="creation_method" property="creationMethod" />
        <result column="meat_vegetable" property="meatVegetable" />
        <result column="main_ingredient" property="mainIngredient" />
        <result column="ingredients" property="ingredients" />
        <result column="style_of_cooking_id" property="styleOfCookingId" />
        <result column="cuisine_component_id" property="cuisineComponentId" />
        <result column="cuisine_type_id" property="cuisineTypeId" />
        <result column="shop_id" property="shopId" />
        <result column="state" property="state" />
        <result column="is_special_offer" property="isSpecialOffer" />
        <result column="special_offer" property="specialOffer" />
        <result column="taste_id" property="tasteId" />
        <result column="min_num" property="minNum" />
        <result column="inventory" property="inventory" />
        <result column="introduce" property="introduce" />
        <result column="take_out_show" property="takeOutShow" />
        <result column="dine_in_show" property="dineInShow" />
        <result column="warning_min" property="warningMin" />
        <result column="warning_max" property="warningMax" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cuisine_id, name, num, price, creation_method, meat_vegetable, main_ingredient, ingredients, style_of_cooking_id, cuisine_component_id, cuisine_type_id, shop_id, state, is_special_offer, special_offer, taste_id, min_num, inventory, introduce, take_out_show, dine_in_show, warning_min, warning_max
    </sql>

</mapper>
