<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.DiscountCouponAreaCuisineTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.DiscountCouponAreaCuisineType">
        <result column="discount_coupon_id" property="discountCouponId" />
        <result column="cuisine_type_id" property="cuisineTypeId" />
        <result column="show_order" property="showOrder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        discount_coupon_id, cuisine_type_id, show_order
    </sql>

</mapper>
