<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.DrawbackApplicationImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.DrawbackApplicationImage">
        <result column="customer_order_id" property="customerOrderId" />
        <result column="url" property="url" />
        <result column="show_order" property="showOrder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        customer_order_id, url, show_order
    </sql>

</mapper>
